#dropmenudiv{
	position:absolute;
	border:1px solid silver;
	font:normal 12px Verdana;
	line-height:18px;
	text-align:center;
	z-index:100;
}

#dropmenudiv a{
	width: 100%;
	display: block;
	border-bottom: 1px solid silver;
	text-decoration: none;
	background-color:#555;
	color:#fff;
	line-height:200%;
}

#dropmenudiv a:hover{ /*hover background color*/
	background-color: #555;
	border-color:#ccc #ccc #f00;
	color:#fff;
}
