<script type="text/javascript">
function searchFormSubmit() {
	if(document.getElementById('searchKey').value==''){
		alert('请输入搜索内容');
		return false;
	}
	document.getElementById('searchForm').submit();	
}
</script>
<form id="searchForm" action="${base}/jeecms/ArtiSearch.do" target="_blank">
<div id="page_search">
	<div id="page_search_left">
		<input type="hidden" name="count" value="10"/>
		<img src="${root}/default/article/img/ann.gif" align="absmiddle" />	
		<input align="absmiddle" name="searchKey" type="text" id="searchKey" style="border:#cccccc 1px solid;" size="16" onkeypress="if(event.keyCode==13){searchFormSubmit();return false;}"/>	
	</div>
	<div id="page_search_btn">
		<img src="${root}/default/article/img/search_but.gif" onclick="searchFormSubmit();" border="0"/>
	</div>
	<div id="page_search_mid">
	[@cms.ArtiList chnlId='' attr='5' count='10' sysContent='4' titLen='26' dateFormat='3' datePosition='3' headMark='2' target='1' rollCols='1' rollSpeed='3' rollSleepTime='150'/]
	</div>
	<div id="page_search_right">今天是：
	<script>
		<!--var day="";
		var month="";
		var ampm="";
		var ampmhour="";
		var myweekday="";
		var year="";
		mydate=new Date();
		myweekday=mydate.getDay();
		mymonth=mydate.getMonth()+1;
		myday= mydate.getDate();
		myyear= mydate.getYear();
		year=(myyear > 200) ? myyear : 1900 + myyear;
		if(myweekday == 0)
		weekday=" 星期日 ";
		else if(myweekday == 1)
		weekday=" 星期一 ";
		else if(myweekday == 2)
		weekday=" 星期二 ";
		else if(myweekday == 3)
		weekday=" 星期三 ";
		else if(myweekday == 4)
		weekday=" 星期四 ";
		else if(myweekday == 5)
		weekday=" 星期五 ";
		else if(myweekday == 6)
		weekday=" 星期六 ";
		document.write(year+"年"+mymonth+"月"+myday+"日 "+weekday);
		//-->
	  </script>
	</div>
	<div style="clear:both"></div>
</div>
</form>