body {
	background-color: #91ADC8;
	margin-top: 0px;
	margin-bottom: 0px;
}
table {  font-size: 10pt}
input {
	font-size: 9pt;
	height: 17px;
	clip:rect(1px);
	margin-bottom: 2px;
	border-color: black black black #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px}
form {  font-size: 9pt}
p {  font-size: 9pt}

A:link
{
    color: #000000;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #000066;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #FF6600;
    TEXT-DECORATION: none
}
A:active
{
	color: #FF6600;
    TEXT-DECORATION: none
}

.daohang {
	font-size: 13px;
	COLOR: #FFFFFF;
}
.daohang A:link
{	font-family: "楷体_GB2312", "新宋体";
	font-size: 15px;
	font-weight: bold;
	COLOR: #FFFFFF;
}
.daohang A:visited
{	font-family: "楷体_GB2312", "新宋体";
	font-size: 15px;
	font-weight: bold;
	COLOR: #FFFFFF;
}
.daohang A:hover
{	font-family: "楷体_GB2312", "新宋体";
	font-size: 15px;
	font-weight: bold;
	COLOR: #FFFFFF;
    TEXT-DECORATION: underline;
}
.daohang A:active
{	font-family: "楷体_GB2312", "新宋体";
	font-size: 15px;
	font-weight: bold;
	COLOR: #FFFFFF;
    TEXT-DECORATION: underline;
}

.daohang2 A:link
{	font-family: "新宋体", "楷体_GB2312";
	font-size: 13px;
	font-weight: bold;
	COLOR: #0066CC;
	TEXT-DECORATION: none
}
.daohang2 A:visited
{	font-family: "新宋体", "楷体_GB2312";
	font-size: 13px;
	font-weight: bold;
	COLOR: #0066CC;
	TEXT-DECORATION: none
}
.daohang2 A:hover
{	font-family: "新宋体", "楷体_GB2312";
	font-size: 13px;
	font-weight: bold;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none
}
.daohang2 A:active
{	font-family: "新宋体", "楷体_GB2312";
	font-size: 13px;
	font-weight: bold;
	COLOR: #0066CC;
	TEXT-DECORATION: none
}

.leftlink A:link
{	font-family: "新宋体", "楷体_GB2312";
	font-size: 13px;
	font-weight: bold;
	COLOR: #003366;
	TEXT-DECORATION: none
}
.leftlink A:visited
{	font-family: "新宋体", "楷体_GB2312";
	font-size: 13px;
	font-weight: bold;
	COLOR: #003366;
	TEXT-DECORATION: none
}
.leftlink A:hover
{	font-family: "新宋体", "楷体_GB2312";
	font-size: 13px;
	font-weight: bold;
	COLOR: #0066CC;
	TEXT-DECORATION: none
}
.leftlink A:active
{	font-family: "新宋体", "楷体_GB2312";
	font-size: 13px;
	font-weight: bold;
	COLOR: #0066CC;
	TEXT-DECORATION: none
}

.footer1 {
    color: #0066CC;
	font-size: 12px;
	font-weight: bold;
}
.footer1 A:link {
    color: #0066CC;
	font-size: 12px;
	font-weight: bold;
	TEXT-DECORATION: none
}
.footer1 A:visited {
    color: #0066CC;
	font-size: 12px;
	font-weight: bold;
	TEXT-DECORATION: none
}
.footer1 A:hover {
    color: #0066CC;
	font-size: 12px;
	font-weight: bold;
	TEXT-DECORATION: none
}
.footer1 A:active {
    color: #0066CC;
	font-size: 12px;
	font-weight: bold;
	TEXT-DECORATION: none
}

.footer2 {
	color: #666666;
	font-size: 12px;
}
.footer3 {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}

.time {
	font-size: 12px;
	font-style: italic;
}
.f14 {
	font-size: 16px;
}