input {  font-size: 9pt; height: 17px; clip:    rect(1px   ); margin-bottom: 2px; border-color: black black black #000000; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
form {  font-size: 9pt}
p {  font-size: 9pt}
a:active {  font-size: 9pt; color: #000066}
a:hover {  color: #FF6600; font-size: 9pt; text-decoration: underline; border-color: #FF0033 black black; list-style-type: disc; background-color: #CCCCCC}
a:link {  color: #000066; font-size: 9pt; cursor: hand; filter: Invert; text-decoration: underline}
a:visited {  color: #003366; font-size: 9pt}
table {  font-size: 9pt}
body {  font-size: 9pt}

.showImg {
	font-size: 9pt; background-color: #FFFFCA;
}