body{text-align:center}
.cx_tabmenu {
	
}
#ddimagetabs {
	PADDING-LEFT: 10px
}
#ddimagetabs A {
	PADDING-RIGHT: 20px; BORDER-TOP:  DISPLAY: inline; PADDING-LEFT: 20px; FONT-SIZE: 12px;  FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000000; LINE-HEIGHT: 23px; MARGIN-RIGHT: 2px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#ddimagetabs A:hover {
	COLOR: #000000
}
#ddimagetabs A.current {
	COLOR: #000000
}
A.sclink:link {
	
}
A.sclink:visited {
	
}
A.sclink:hover {
	
}
#sclink1 {
	
}
#ddimagetabs #sclink1 {
border-right:solid 1px #fff;
	
}
#ddimagetabs #sclink1:hover {
	
}
#ddimagetabs .current#sclink1 {
	
}
#sc1 A:link {
	
}
#sc1 A:visited {
	
}
#sc1 A:hover {
	
}
#ddimagetabs #sclink2 {
border-right:solid 1px #fff;
	
}
#ddimagetabs #sclink2:hover {
	
}
#ddimagetabs .current#sclink2 {
	
}
#sc2 A:link {
	
}
#sc2 A:visited {
	
}
#sc2 A:hover {
	
}
#ddimagetabs #sclink3 {
border-right:solid 1px #fff;
	
}
#ddimagetabs #sclink3:hover {
	
}
#ddimagetabs .current#sclink3 {
	
}
#sc3 A:link {
	
}
#sc3 A:visited {
	
}
#sc3 A:hover {
	
}
#ddimagetabs #sclink4 {
border-right:solid 1px #fff;
	
}
#ddimagetabs #sclink4:hover {
	
}
#ddimagetabs .current#sclink4 {
	
}
#sc4 A:link {
	
}
#sc4 A:visited {
	
}
#sc4 A:hover {
	
}
#ddimagetabs #sclink5 {
border-right:solid 1px #fff;
	
}
#ddimagetabs #sclink5:hover {
	
}
#ddimagetabs .current#sclink5 {
	
}
#sc5 A:link {
	
}
#sc5 A:visited {
	
}
#sc5 A:hover {
	
}
#ddimagetabs #sclink6 {
border-right:solid 1px #fff;
	
}
#ddimagetabs #sclink6:hover {
	
}
#ddimagetabs .current#sclink6 {
	
}
#sc6 A:link {
	
}
#sc6 A:visited {
	
}
#sc6 A:hover {
	
}
#ddimagetabs #sclink7 {
	
border-right:solid 1px #fff;
}
#ddimagetabs #sclink7:hover {
	
}
#ddimagetabs .current#sclink7 {
	
}
#sc7 A:link {
	
}
#sc7 A:visited {
	
}
#sc7 A:hover {
	
}


#ddimagetabs #sclink8 {


}
#ddimagetabs #sclink8:hover {
	
}
#ddimagetabs .current#sclink8 {
	
}
#sc8 A:link {
	
}
#sc8 A:visited {
	
}
#sc8 A:hover {
	
}



#ddimagetabs #sclink9 {
}
#ddimagetabs #sclink9:hover {
	
}
#ddimagetabs .current#sclink7 {
	
}
#sc9 A:link {
	
}
#sc9 A:visited {
	
}
#sc9 A:hover {
	
}

#tabcontentcontainer {
	 WIDTH: 960px;
}
.tabcontent {
	DISPLAY: none; 
}
.tabcontent A:link {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; FLOAT: left;  MARGIN-LEFT: 3px; CURSOR: pointer;  PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tabcontent A:visited {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; FLOAT: left;  MARGIN-LEFT: 3px; CURSOR: pointer; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tabcontent A:hover {
	 COLOR: #000000
}
#active_submenu {
	COLOR: #fff
}
