body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #006699;
	background-image: url(images/preview_02.gif);	
}
body,td,th {
	font-size: 12px;
	color: #333333;
	
}

a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #333333;
}
a:active {
	text-decoration: none;
}

.menu {
	background-image: url(images/preview_08.gif);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	
}.menu ul {
	list-style-type: none;
	padding: 0px;	
	margin: 0px 0px 0px 80px;
}

.menu li {
	float: left;
	margin: 0px;
	padding: 0px;	
}

.subMenu {
	background-image: url(images/preview_08.gif);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	
}.subMenu ul {
	list-style-type: none;
	padding: 0px;	
	margin: 0px 0px 0px 100px;
}

.subMenu li {
	float: left;
	margin: 0px;
	padding: 0px 10px;	
}

.list {
	color: #333333;
}

.list ul {
	margin: 0px;
	padding: 7px;
	list-style-type: none;
	list-style-image: url(images/preview_52.gif);
}




.list li {
	margin: 0px;
	padding: 0px;
}

.white {
	font-size: 12px;
	color: #FFFFFF;
}
.f14 {
	font-size: 16px;
}
