/*
  Copyright 2001-2005 www.ntsky.com. All Rights Reserved.
  Qq : 78815 
  Msn :	skyyjl@hotmail.com	
  Email :	yntsky@gmail.com
  Author : ntsky
  Http : www.ntsky.com
*/
@import url(layout.css);

h1,h2,h3,h4,h5,h6 { 
	color:#333; 
	margin:1em 0; 
} 

P {
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 2px;
}

h1{
	font-size:16.8px;
	font-weight:bold;
}

h2{
	font-size:14px;
	font-weight:bold;
	margin-top:8px;
	margin-left:8px;
	text-align:left;
}

h3{
	padding:4px 0px;
	margin:0px;
	font-size:13px;
	font-weight:bold;
	text-align:left;
}

td {
	font-size: 12px;
	font-family: Verdana, Arial, Sans-Serif;
}

.bold {
	font-weight : bold;
}

.red {
	color: #ff0000;
}

a {
	cursor：pointer;
}

a:link, a:visited{
  color: #0065C9;
 /* color: #376098;*/
  color: #004a9c;
  text-decoration: none;
}

a:hover {
  color: red;
  /*color: #4f8adc;*/
  text-decoration: underline;
}
/*
a:hover {
  color: blue;
  background-color: #eee;
}
a:active {
  color: red;
  background-color: yellow;
}*/

/*li p {
	margin: .25em 0;
}*/

/* button */
input.b {
	margin-left: 6px; 
	background-color: #e9e9e9;/*#e6e6e6;*/
	padding: 1px 4px !important;
	padding: 2px 4px 0px;
	border-width: 1px;
	border-style: solid;
	border-color:#ccc #666 #666 #ccc;
	cursor:pointer;
	font-size:12px;
}

/* text button */
input.tb {
	margin-left: 6px; 
	margin-top: -2px;
	margin-bottom: 2px;
	background-color:#f5f5f5;
	padding: 1px 4px !important;
	padding: 3px 4px 0px;
	border: 1px solid #d4d0c8;
	font-size:11px;
	cursor:pointer;
}

input.t {
	margin: 0px;
	padding: 2px;
	font-size: 12px;
	border-width: 1px;
	border-style: solid ;
	border-color: #666 #ccc #ccc #666;
}

textarea {
	margin: 0px;
	padding: 2px;
	font-size: 12px;
	border-width: 1px;
	border-style: solid ;
	border-color: #666 #ccc #ccc #666;
}

select {
	margin: 0px;
	padding: 1px;
	border-width: 1px;
	border-style: solid ;
	border-color: #666 #ccc #ccc #666;
	font-size: 12px;
}

form {
	padding:0px;
	margin:0px;
}

img {
	border:0px;
}

/* 
	tl 文本左
	tr 文本右
*/
.tl{
	text-align: left;
}
.tr{
	text-align: right;
}

a {
	/*line-height: 120%;*/
}
.required{
	color: red;
}

/* 
    *********************************
    * title1  * title2 * title3******
	*********************************
	*  list1  * list2 * list3 * ....*    
	*********************************
	*********************************
 */
.ltable {
	border: 0px;
	background-color:silver;
	text-align:center;
	width: 96%;
	line-height: 150%;
}
/* list  tr title */
.ltrt {
	background-color:#f8f8f8;
	height:26px;
}
.ltrv {
	background-color:#FFFFFF;
	height:26px;
}

/* 
    **********************************
	*         *  *****************   *      
	*  title  *  *       content *   *
	*         *  *****************   *
	**********************************
 */
.mtable {
	width: 96%;
	border-bottom: 1px solid silver;
	border-left: 1px solid silver;
	line-height: 150%;
}
.mt{
	background-color:#f8f8f8;
	text-align:left;
	padding-left:8px;
	height:26px;
	font-weight : bold;
	font-size: 13px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	color: #0060bf;
}
/* model td title */
.mtdt {
	background-color:#FFFFFF;
	width:20%;
	text-align:left;
	padding-left:8px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	height:26px;
}

/* model td value */
.mtdv {
	 background-color:#FFFFFF;
	 text-align:left;
	 border-top: 1px solid silver;
	 border-right: 1px solid silver;
	 padding-left:4px;
}

/* model td action */
.mtda {
	 background-color:#FFFFFF;
	 text-align:center;
	 margin:0px;
	 background-color: #f9f9f9; 
	 padding:4px;
	 height:20px;
	 line-height:150%;
	 border-top: 1px solid silver;
	 border-right: 1px solid silver;
}

.help-tooltip{
	position: absolute;
	width: 180px;
	border: 1px solid gray;
	padding: 7px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 1000;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=silver,direction=135);
}

#dhtmltooltip{
	position: absolute;
	left: -300px;
	width: 150px;
	border: 1px solid gray;
	padding: 7px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}
#dhtmlpointer{
	position:absolute;
	left: -300px;
	z-index: 101;
	visibility: hidden;
}