BODY {
	FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 980px; COLOR: #000; FONT-FAMILY: SimSun,Verdana,Arial
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H5 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H6 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
SELECT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
INPUT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.red_1:link {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: none
}
A.red_1:hover {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: underline
}
A.red_1:visited {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: none
}
A.red_2:link {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: underline
}
A.red_2:hover {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: underline
}
A.red_2:visited {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: none
}
A.red_3:link {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: none
}
A.red_3:hover {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: underline
}
A.red_3:visited {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: none
}
A.blue_1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3366cc; TEXT-DECORATION: none
}
A.blue_1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3399ff; TEXT-DECORATION: underline
}
A.blue_1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3366cc; TEXT-DECORATION: none
}
A.orange_1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
A.orange_1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9933; TEXT-DECORATION: underline
}
A.orange_1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
A.green_1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: none
}
A.green_1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #669900; TEXT-DECORATION: underline
}
A.green_1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: none
}
A.black_1:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.black_1:hover {
	FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: underline
}
A.black_1:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.white_1:link {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: none
}
A.white_1:hover {
	FONT-SIZE: 12px; COLOR: #ffcccc; TEXT-DECORATION: underline
}
A.white_1:visited {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: none
}
.f-red1 {
	COLOR: #0170A7
}
.f-red2 {
	FONT-WEIGHT: bold; COLOR: #0170A7
}
.f-red3 {
	COLOR: #0170A7
}
.f-red4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0170A7
}
.f-black {
	COLOR: #000
}
.f-black2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000
}
.f-grey {
	COLOR: #696969
}
.b {
	FONT-WEIGHT: bold
}
.dqym1 {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; COLOR: #ff6600; LINE-HEIGHT: 22px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 22px; TEXT-ALIGN: center
}
.dqym2 {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
.dqym2 A:link {
	DISPLAY: block; COLOR: #124ba0
}
.dqym2 A:hover {
	DISPLAY: block; COLOR: #0170A7
}
.dqym2 A:visited {
	DISPLAY: block; COLOR: #0170A7
}
.dqym3 {
	BORDER-RIGHT: #0170A7 1px solid; BORDER-TOP: #0170A7 1px solid; BACKGROUND: #fff; BORDER-LEFT: #0170A7 1px solid; WIDTH: 30px; BORDER-BOTTOM: #0170A7 1px solid
}
#head {
	WIDTH: 980px
}
#top {
	FLOAT: left; WIDTH: 980px; PADDING: 5px 0px;
}
#top .logo {
	FLOAT: left
}
#top .banner {
	FLOAT: right
}
#nav {
	FLOAT: left; WIDTH: 980px; HEIGHT: 61px
}
#nav .con1 {
	BORDER-RIGHT: #0170A7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #0170A7 1px solid; PADDING-LEFT: 10px; BACKGROUND: #B5D2E4; PADDING-BOTTOM: 0px; BORDER-LEFT: #0071A7 1px solid; COLOR: #0170A7; BORDER-BOTTOM: #0170A7 1px solid; HEIGHT: 28px
}
#nav .con1 .navlink {
	FLOAT: left;LINE-HEIGHT: 28px; HEIGHT: 28px;
}
#nav .con1 .mail {
	FLOAT: right; WIDTH: 200px; LINE-HEIGHT: 20px; HEIGHT: 20px; margin-top:4px;
}
#nav .con2 {
	FLOAT: left; HEIGHT: 31px
}
#nav .con2 .j1 {
	FLOAT: left; WIDTH: 10px
}
#nav .con2 .bulletin {
	BACKGROUND: url(../images/t-bg1.gif) repeat-x; FLOAT: left
}
#nav .con2 .search {
	BACKGROUND: url(../images/t-bg1.gif) repeat-x; FLOAT: left
}
#nav .con2 .bulletin {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 489px; PADDING-TOP: 8px; HEIGHT: 23px;border-left:1px solid #0170A7;
}
#nav .con2 .search {
	WIDTH: 479px; PADDING-TOP: 5px; HEIGHT: 26px; border-right:1px solid #0170A7;
}
#bottom {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 980px; TEXT-ALIGN: center
}
#bottom .about {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #B5D2E4; PADDING-BOTTOM: 10px; COLOR: #0071A5; PADDING-TOP: 10px
}
#bottom .copyright {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 30px; WIDTH: 100%; PADDING-TOP: 10px
}
#bottom .kf {
	PADDING-LEFT: 80px; FLOAT: left; WIDTH: 840px; LINE-HEIGHT: 18px; HEIGHT: 40px
}
#bottom .kf UL {
	DISPLAY: inline
}
#bottom .kf LI {
	FLOAT: left; WIDTH: 140px
}
#page {
	FLOAT: left; MARGIN: 0px auto; WIDTH: 980px; TEXT-ALIGN: left
}
#page .left {
	FLOAT: left; WIDTH: 127px; MARGIN-RIGHT: 11px
}
#page .right {
	FLOAT: left; WIDTH: 840px
}
#page .hhz1 {
	PADDING-TOP: 2px
}
#page .menu {
	BORDER-RIGHT: #0170A7 1px solid; BACKGROUND: #B5D2E4; BORDER-LEFT: #0170A7 1px solid; WIDTH: 125px; BORDER-BOTTOM: #0170A7 1px solid
}
.menu .function {
	CLEAR: both; WIDTH: 125px
}
.function .menutop LI {
	BACKGROUND: url(../images/au1.gif) no-repeat; MARGIN-BOTTOM: 1px; WIDTH: 125px; HEIGHT: 24px; TEXT-ALIGN: center
}
.function .menutop LI A:link {
	DISPLAY: block; WIDTH: 125px; PADDING-TOP: 6px; HEIGHT: 18px
}
.function .menutop LI A:hover {
	DISPLAY: block; WIDTH: 125px; PADDING-TOP: 6px; HEIGHT: 18px
}
.function .menutop LI A:visited {
	DISPLAY: block; WIDTH: 125px; PADDING-TOP: 6px; HEIGHT: 18px
}
.zt A:link {
	DISPLAY: block; WIDTH: 125px; PADDING-TOP: 6px; HEIGHT: 18px
}
.zt A:hover {
	DISPLAY: block; WIDTH: 125px; PADDING-TOP: 6px; HEIGHT: 18px
}
.zt A:visited {
	DISPLAY: block; WIDTH: 125px; PADDING-TOP: 6px; HEIGHT: 18px
}
.function .menutop LI A{COLOR: #fff}
.function .menutop LI A:hover {
	COLOR: #fff
}
.menu .zt {
	BACKGROUND: url(../images/au1-2.gif) no-repeat; HEIGHT: 24px; TEXT-ALIGN: center;COLOR: #fff
}
.sort {
	BACKGROUND: url(../images/xx1.gif) repeat-y left 50%; MARGIN-LEFT: 25px; WIDTH: 100px; PADDING-TOP: 10px
}
.sort LI {
	PADDING-LEFT: 25px; BACKGROUND: url(../images/icon8.gif) no-repeat 10px 3px; HEIGHT: 22px
}
.top2 {
	BACKGROUND: url(../images/h-bg1.jpg) repeat-x; FLOAT: left; WIDTH: 840px; PADDING-TOP: 30px; HEIGHT: 35px
}
.button1 {
	FLOAT: left; WIDTH: 380px
}
.button1 LI {
	FLOAT: left; WIDTH: 86px
}
.state1 {
	FLOAT: left; WIDTH: 460px; TEXT-ALIGN: right
}
.homelist {
	BORDER-RIGHT: #0170A7 1px solid; BORDER-TOP: #0170A7 1px solid; FLOAT: left; BORDER-LEFT: #0170A7 1px solid; WIDTH: 838px; BORDER-BOTTOM: #0170A7 1px solid
}
.biaotou {
	BACKGROUND: #0170A7; BORDER-BOTTOM: #0170A7 1px solid; HEIGHT: 32px
}
.biaotou LI {
	FONT-WEIGHT: bold; FLOAT: left; COLOR: #fff; HEIGHT: 17px; TEXT-ALIGN: center; padding-top:8px;
}
.biaotou LI.state {
	WIDTH: 38px
}
.biaotou LI.welcome {
	WIDTH: 100px
}
.biaotou LI.subject {
	WIDTH: 355px
}
.biaotou LI.author {
	WIDTH: 100px
}
.biaotou LI.time {
	WIDTH: 130px
}
.biaotou LI.name {
	WIDTH: 100px
}
.homelist .biaoge {
	FLOAT: left; HEIGHT: auto
}
.biaoge LI {
	FLOAT: left; PADDING-TOP: 8px; HEIGHT: 20px; TEXT-ALIGN: center
}
.biaoge LI.state {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge LI.welcome {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge LI.subject {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge LI.author {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge LI.time {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge LI.state {
	WIDTH: 36px; TEXT-ALIGN: center
}
.biaoge LI.welcome {
	WIDTH: 98px; TEXT-ALIGN: center
}
.biaoge LI.welcome SPAN {
	FONT-WEIGHT: bold; COLOR: red
}
.biaoge LI.subject {
	PADDING-LEFT: 10px; WIDTH: 358px; TEXT-ALIGN: left
}
.biaoge LI.author {
	WIDTH: 98px; TEXT-ALIGN: center
}
.biaoge LI.time {
	WIDTH: 128px; TEXT-ALIGN: center
}
.biaoge LI.name {
	WIDTH: 103px; BORDER-BOTTOM: #B5D2E4 1px solid; TEXT-ALIGN: center
}
.new1 {
	PADDING-LEFT: 20px; BACKGROUND: #B5D2E4; PADDING-TOP: 8px; BORDER-BOTTOM: #B5D2E4 1px solid; HEIGHT: 20px
}
.fy {
	BACKGROUND: url(../images/p-bg1.gif) repeat-x; WIDTH: 838px; PADDING-TOP: 10px; HEIGHT: 32px; TEXT-ALIGN: center
}
.ather {
	BORDER-RIGHT: #0170A7 1px solid; BORDER-TOP: #0170A7 1px solid; MARGIN-TOP: 20px; FLOAT: left; BORDER-LEFT: #0170A7 1px solid; WIDTH: 838px; BORDER-BOTTOM: #0170A7 1px solid
}
.ather .con1 {
	FLOAT: left; WIDTH: 419px
}
.ather .con2 {
	FLOAT: left; BORDER-LEFT: #0170A7 1px solid; WIDTH: 418px
}
.ather .tit {
	PADDING-LEFT: 15px; BACKGROUND: #B5D2E4; COLOR: #0170A7; PADDING-TOP: 10px; HEIGHT: 22px
}
.ather .info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 20px; WIDTH: 395px; PADDING-TOP: 20px
}
.ather .info LI {
	PADDING-RIGHT: 5px; FLOAT: left; WIDTH: 190px; LINE-HEIGHT: 22px
}
.login {
	FLOAT: left; WIDTH: 980px
}
.login .info {
	BACKGROUND: url(../images/dl-p5.gif) no-repeat left 50%; FLOAT: left; HEIGHT: 362px
}
.login .info3 {
	BACKGROUND: url(../images/dl-p5.gif) no-repeat left 50%; FLOAT: left; HEIGHT: 362px
}
.login .info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; WIDTH: 515px; PADDING-TOP: 10px
}
.login .info3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 215px; PADDING-BOTTOM: 0px; WIDTH: 670px; PADDING-TOP: 10px
}
.login .info .con {
	BORDER-RIGHT: #B3D3E6 3px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 30px; BACKGROUND: #fff; PADDING-BOTTOM: 30px; BORDER-LEFT: #B3D3E6 3px solid; WIDTH: 494px; PADDING-TOP: 20px
}
.login .info3 .con {
	BORDER-RIGHT: #0170A7 3px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 30px; BACKGROUND: #fff5f6; PADDING-BOTTOM: 30px; BORDER-LEFT: #0170A7 3px solid; WIDTH: 494px; PADDING-TOP: 20px
}
.login .gg {
	BACKGROUND: url(../images/dl-p6.gif) no-repeat right 50%; FLOAT: right; WIDTH: 430px; PADDING-TOP: 10px; HEIGHT: 362px; TEXT-ALIGN: center
}
.login .gg2 {
	BACKGROUND: url(../images/dl-p6.gif) no-repeat right 50%; FLOAT: left; WIDTH: 95px; HEIGHT: 232px
}
.login .info3 {
	HEIGHT: 220px
}
.login .info2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.login .info2 DIV {
	PADDING-BOTTOM: 15px
}
.login .name {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 155px; PADDING-TOP: 7px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.login .password {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 155px; PADDING-TOP: 7px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.login .name {
	BACKGROUND: url(../images/dl-name.gif) no-repeat
}
.login .password {
	BACKGROUND: url(../images/dl-password.gif) no-repeat
}
.login .yzm {
	BORDER-RIGHT: #0170A7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #0170A7 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #0170A7 1px solid; WIDTH: 60px; PADDING-TOP: 7px; BORDER-BOTTOM: #0170A7 1px solid; HEIGHT: 20px
}
.login .qt {
	PADDING-LEFT: 95px
}
.login .new {
	PADDING-RIGHT: 0px; PADDING-LEFT: 50px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.login .new LI {
	PADDING-BOTTOM: 5px; COLOR: #000
}
.login2 {
	FLOAT: left; PADDING-TOP: 20px
}
.login .tfimg {
	FLOAT: left
}
.reply {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-TOP: #B5D2E4 1px solid; MARGIN-TOP: 20px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 30px; BORDER-LEFT: #B5D2E4 1px solid; WIDTH: 978px; BORDER-BOTTOM: #B5D2E4 1px solid
}
.reply .tit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; WIDTH: 959px; PADDING-TOP: 10px; HEIGHT: 25px; background:#7098b1;
}
.reply .con {
	PADDING-RIGHT: 0px; PADDING-LEFT: 150px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 828px; PADDING-TOP: 15px; BORDER-BOTTOM: #B5D2E4 1px solid
}
.headline {
	BORDER-RIGHT: #0170A7 1px solid; BORDER-TOP: #0170A7 1px solid; BORDER-LEFT: #0170A7 1px solid; WIDTH: 350px; BORDER-BOTTOM: #0170A7 1px solid
}
.reply .con .img {
	FLOAT: left; PADDING-TOP: 10px
}
.reply .con .icon {
	FLOAT: left
}
.reply .con2 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 450px;
	FLOAT: left;
	PADDING-BOTTOM: 10px;
	WIDTH: 428px;
	PADDING-TOP: 15px
}
.reply .con3 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; WIDTH: 948px; PADDING-TOP: 15px
}
.reply .editorbody {
	FLOAT: left; WIDTH: 660px
}
.reply .tool {
	BORDER-RIGHT: #B5D2E4 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #B5D2E4 1px solid; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND: #f5fbff; PADDING-BOTTOM: 15px; BORDER-LEFT: #B5D2E4 1px solid; PADDING-TOP: 15px
}
.reply .text {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-TOP: #B5D2E4 1px solid; BORDER-LEFT: #B5D2E4 1px solid; WIDTH: 656px; BORDER-BOTTOM: #B5D2E4 1px solid; HEIGHT: 200px
}
.dropmenu {
	PADDING-RIGHT: 15px! important; FONT-SIZE: 12px; BACKGROUND: url(../images/editor/menupop.gif) no-repeat; CURSOR: pointer
}
.reply .con3 .info1 {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 165px; COLOR: #696969; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
.reply .con3 .info1 P {
	PADDING-BOTTOM: 20px
}
.reply .con3 .info2 {
	FLOAT: left; MARGIN-LEFT: 15px; WIDTH: 450px
}
.reply .con3 .info2 LI {
	PADDING-BOTTOM: 5px
}
.zl1 {
	BACKGROUND: url(../images/zl-photo.gif) no-repeat; WIDTH: 191px; HEIGHT: auto
}
.zl1 .tx {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; PADDING-TOP: 60px; HEIGHT: 120px; TEXT-ALIGN: center
}
.zl1 .xx {
	PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; WIDTH: 171px; LINE-HEIGHT: 22px
}
.zl2 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 40px
}
.zl2 UL.info1 {
	FLOAT: left; WIDTH: 440px; BORDER-BOTTOM: #0170A7 1px solid
}
.zl2 UL.info1 LI {
	PADDING-RIGHT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 200px; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.zl2 .qt {
	CLEAR: both; WIDTH: 420px; PADDING-TOP: 20px
}
.zl2 .qt LI {
	PADDING-RIGHT: 10px; WIDTH: 400px
}
.zl3 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.zl3 P {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 22px
}
.zl3 .sign {
	CLEAR: both; PADDING-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 420px; LINE-HEIGHT: 18px; HEIGHT: 198px
}
.clear {
	CLEAR: both
}
#wrap {
	CLEAR: both; BACKGROUND-IMAGE: url(../images/h-bg1.jpg); MARGIN: 0px auto; WIDTH: 980px; PADDING-TOP: 20px; BACKGROUND-REPEAT: repeat-x; HEIGHT: auto
}
#wrap UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#wrap LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#wrap P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#wrap .red {
	COLOR: #0170A7
}
#wrap .b {
	FONT-WEIGHT: bold
}
#main {
	FLOAT: left; WIDTH: 758px; HEIGHT: auto
}
#sub {
	FLOAT: right; WIDTH: 210px; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
#action {
	PADDING-LEFT: 65px; BACKGROUND-IMAGE: url(../images/bg003.gif); PADDING-BOTTOM: 15px; WIDTH: 693px; PADDING-TOP: 14px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#action LI {
	PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: left; WIDTH: 76px; HEIGHT: 20px
}
.contener {
	WIDTH: 756px; border:1px solid #0170a7;HEIGHT: auto
}
#wrap H2 {
	WIDTH: 756px; LINE-HEIGHT: 39px; HEIGHT: 39px; BACKGROUND-COLOR: #0085c7
}
#wrap H2 #Title {
	FONT-WEIGHT: lighter; FONT-SIZE: 16px; FLOAT: left; WIDTH: 70%; TEXT-INDENT: 10px; LINE-HEIGHT: 30px; FONT-FAMILY: ""; HEIGHT: 30px
}
#wrap H2 #Title IMG {
	PADDING-TOP: 10px
}
#wrap H2 SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; WIDTH: auto; COLOR: #000000; LINE-HEIGHT: 39px; FONT-FAMILY: ""; HEIGHT: 39px
}
#wrap H3 {
	BORDER-RIGHT: #B5D2E4 1px solid; BACKGROUND-POSITION: 10px 8px; BORDER-TOP: #B5D2E4 1px solid; PADDING-LEFT: 40px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: #B5D2E4 1px solid; WIDTH: 716px; COLOR: #0170A7; LINE-HEIGHT: 33px; BORDER-BOTTOM: #B5D2E4 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px; BACKGROUND-COLOR: #a4d1e9; margin:5px 0 0 0;
}
#wrap H3.re01 {
	BACKGROUND-IMAGE: url(../images/icon17.gif)
}
#wrap H4 {
	PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0170A7; LINE-HEIGHT: 30px; HEIGHT: 30px
}
#wrap H4.ic01 {
	BACKGROUND-POSITION: 5px center; BACKGROUND-IMAGE: url(../images/icon10.gif); BACKGROUND-REPEAT: no-repeat
}
#wrap H4.ic02 {
	BACKGROUND-POSITION: 5px center; BACKGROUND-IMAGE: url(../images/icon19.gif); BACKGROUND-REPEAT: no-repeat
}
#wrap .uin {
	WIDTH: 756px; BORDER-BOTTOM: #B5D2E4 1px solid; HEIGHT: 200px; BACKGROUND-COLOR: #D8EDF8
}
#wrap .uinL {
	DISPLAY: inline; FLOAT: left; MARGIN: 10px; WIDTH: 95px; HEIGHT: auto
}
#wrap .uinL IMG {
	BORDER-RIGHT: #cec8c9 1px solid; BORDER-TOP: #cec8c9 1px solid; DISPLAY: block; BORDER-LEFT: #cec8c9 1px solid; BORDER-BOTTOM: #cec8c9 1px solid
}
#wrap .uinM {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 160px; PADDING-TOP: 10px; HEIGHT: 180px
}
#wrap .uinM LI {
	FONT-SIZE: 12px; LINE-HEIGHT: 22px
}
#wrap .uinR {
	FLOAT: left; WIDTH: 455px; HEIGHT: 180px
}
#wrap .action2 {
	PADDING-LEFT: 10px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; BORDER-BOTTOM: #0170A7 1px dashed; HEIGHT: 20px
}
#wrap .action2 LI {
	background-position:left center;background-repeat:no-repeat;
	PADDING-RIGHT: 10px;DISPLAY: block; PADDING-LEFT: 11px; FONT-SIZE: 12px; FLOAT: left; WIDTH: 24px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
#wrap .action2 LI.uright {
	OVERFLOW: hidden; WIDTH: 50px; COLOR: #0170A7; TEXT-ALIGN: right
}
#wrap .action2 LI.u01 {
	BACKGROUND-IMAGE: url(../images/u01.gif)
}
#wrap .action2 LI.u02 {
	BACKGROUND-IMAGE: url(../images/u02.gif)
}
#wrap .action2 LI.u03 {
	BACKGROUND-IMAGE: url(../images/u03.gif)
}
#wrap .action2 LI.u04 {
	BACKGROUND-IMAGE: url(../images/u04.gif)
}
#wrap .action2 LI.u05 {
	BACKGROUND-IMAGE: url(../images/u05.gif)
}
#wrap .action2 LI.u06 {
	BACKGROUND-IMAGE: url(../images/u06.gif)
}
#wrap .action2 LI.lay {
	 PADDING-RIGHT: 0px;PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px;WIDTH: 30px; PADDING-TOP: 0px; BORDER: #0170A7 1px solid; BACKGROUND-COLOR: #88b2d3; TEXT-ALIGN: center
}
#wrap .action2 LI.time {
	WIDTH: 180px
}
#wrap .utlie LI {
	PADDING-LEFT: 10px; FONT-SIZE: 12px; LINE-HEIGHT: 22px
}
#wrap .uMain {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; FONT-SIZE: 14px; PADDING-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 726px; PADDING-TOP: 20px; HEIGHT: auto; BACKGROUND-COLOR: #d8edf8;  line-height:24px;
}
#wrap .bin {
	PADDING-RIGHT: 10px; BORDER-TOP: #0170a7 1px dashed; FONT-SIZE: 12px; WIDTH: 746px; LINE-HEIGHT: 40px; HEIGHT: 40px; BACKGROUND-COLOR: #d8edf8; TEXT-ALIGN: right
}
#wrap .contener2 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; WIDTH: 756px; HEIGHT: auto
}
#wrap .contener3 {
	CLEAR: both; BORDER-RIGHT: #B5D2E4 1px solid; BORDER-TOP: #B5D2E4 1px solid; BACKGROUND: #fff; BORDER-LEFT: #B5D2E4 1px solid; WIDTH: 756px; BORDER-BOTTOM: #B5D2E4 1px solid; HEIGHT: auto
}
#wrap .conbg {
	BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: #D8EDF8
}
#wrap .contener3 .consub {
	DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; BACKGROUND-IMAGE: url(../images/bg001.gif); WIDTH: 145px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 320px
}
#wrap .conbg .consub {
	BACKGROUND-IMAGE: url(../images/bg005.gif); background-color:#96cae7
}
#wrap .contener3 .consub LI {
	FONT-SIZE: 12px; COLOR: #0170A7; LINE-HEIGHT: 22px
}
#wrap .contener3 .consub LI.uname {
	FONT-WEIGHT: bold; OVERFLOW: hidden; WIDTH: 130px; COLOR: #ff6600; TEXT-ALIGN: center
}
#wrap .contener3 .consub LI.upic {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN-LEFT: 20px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 99px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 99px; TEXT-ALIGN: center
}
#wrap .contener3 .consub LI.upic IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 2px; WIDTH: 95px; HEIGHT: 95px; BORDER-RIGHT-WIDTH: 0px
}
#wrap .contener3 .context {
	FONT-SIZE: 14px; FLOAT: right; WIDTH: 600px; LINE-HEIGHT: 22px; HEIGHT: auto; TEXT-ALIGN: left
}
#wrap .contener3 .contextc {
	PADDING-LEFT: 10px; MIN-HEIGHT: 200px; OVERFLOW: hidden; HEIGHT: auto; _height: 200px
}
#wrap .contener3 P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px
}
#wrap .subox {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-TOP: #B5D2E4 1px solid; BACKGROUND-IMAGE: url(../images/homebg1.gif); MARGIN-BOTTOM: 10px; BORDER-LEFT: #B5D2E4 1px solid; WIDTH: 208px; BORDER-BOTTOM: #B5D2E4 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: auto
}
#wrap .contener3 P.tab {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 40px; FONT-SIZE: 12px;COLOR: #0170A7; LINE-HEIGHT: 20px;
	border-bottom:1px dashed #0170A7;
}
#wrap .contener P.tab {
	PADDING-LEFT: 40px; FONT-SIZE: 12px; COLOR: #0170a7; LINE-HEIGHT: 20px; border-bottom:1px  dashed #0170a7;
}
#wrap .contener P.tab {
	BACKGROUND-COLOR: #d8edf8
}
#wrap .contener P.tabtext {
	BACKGROUND-COLOR: #d8edf8
}

#wrap .contener3 P.tab .nbg02 {
	BACKGROUND-COLOR: #fff
}
#wrap .contener P.tab .nbg02 {
	BACKGROUND-COLOR: #fff
}
#wrap .contener3 P.tabtext {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px
}
#wrap .contener P.tabtext {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px
}
#wrap .subox .subpic {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 5px auto; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid; TEXT-ALIGN: center
}
#wrap .subox .subpic IMG {
	DISPLAY: block; MARGIN: 0px auto
}
#wrap .subox UL LI {
	BACKGROUND-POSITION: 15px center; PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/icon11.gif); LINE-HEIGHT: 22px; BACKGROUND-REPEAT: no-repeat
}
#wrap .subox UL LI.p1 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../images/p001.gif)
}
#wrap .subox UL LI.p2 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../images/p002.gif)
}
#wrap .subox UL LI.p3 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../images/p003.gif)
}
#wrap .subox UL LI.p4 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../images/p004.gif)
}
#wrap .subox UL LI.p5 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../images/p005.gif)
}
#wrap .subox UL LI.p6 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../images/p006.gif)
}
#wrap .subox UL LI.p7 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../images/p007.gif)
}
#wrap .subox UL LI.p8 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../images/p008.gif)
}
#wrap .subox UL LI.p9 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../images/p009.gif)
}
#wrap .subox UL LI.p10 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../images/p010.gif)
}
#wrap #bbsPage .fy {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-TOP: #B5D2E4 1px solid; BACKGROUND: #fccccb; MARGIN-BOTTOM: 15px; BORDER-LEFT: #B5D2E4 1px solid; WIDTH: 756px; BORDER-BOTTOM: #B5D2E4 1px solid
}
#wrap .retext {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; WIDTH: 716px; PADDING-TOP: 20px; background-color:#D8EDF8; border:1px solid #A4D1E9;
}
#wrap .edit {
	FLOAT: left; WIDTH: 700px; HEIGHT: 300px
}
#wrap #edtj {
	DISPLAY: block; FONT-SIZE: 12px; LINE-HEIGHT: 30px; HEIGHT: 30px; margin:5px 0 0 0 ;
}
#wrap #edtj INPUT {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 90px; MARGIN-RIGHT: 20px
}
#wrap #edtj A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; WIDTH: auto; HEIGHT: 30px
}
#wrap #zlogin {
	BORDER-TOP: #da9491 1px dashed; PADDING-LEFT: 20px; FONT-SIZE: 14px; COLOR: #0170A7; LINE-HEIGHT: 50px
}
#wrap #zlogin A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0170A7
}
#Admin {
	MARGIN-TOP: 5px; WIDTH: 980px; TEXT-ALIGN: center
}
#Admin LI {
	DISPLAY: inline; LINE-HEIGHT: 18px; HEIGHT: 18px
}
A.grey_1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A.grey_1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: none
}
A.grey_1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A.red_4:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0170A7; TEXT-DECORATION: none
}
A.red_4:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0170A7; TEXT-DECORATION: none
}
A.red_4:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0170A7; TEXT-DECORATION: none
}
.zx1 {
	MARGIN-TOP: 20px
}
.zx2 {
	FLOAT: left; WIDTH: 980px
}
.zx2 .part1 {
	FLOAT: left; WIDTH: 140px
}
.zx2 .part1 UL {
	PADDING-TOP: 30px
}
.zx2 .part1 LI {
	PADDING-BOTTOM: 15px
}
.zx2 .part1 LI.b1 {
	PADDING-LEFT: 35px; BACKGROUND: url(../images/zx-icon3.gif) no-repeat 20px 0px
}
.zx2 .part1 LI.b2 {
	PADDING-LEFT: 30px; BACKGROUND: url(../images/zx-m1.gif) no-repeat; PADDING-TOP: 6px
}
.zx2 .part2 {
	BACKGROUND: url(../images/zx-bg3.gif) repeat-y; FLOAT: left; WIDTH: 809px
}
.zx2 .part2 .con {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 769px; PADDING-TOP: 0px
}
.zx2 .part2 .tit1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/zx-bg1.gif) repeat-x; WIDTH: 245px; COLOR: #0170A7; TEXT-ALIGN: center
}
.zx2 .part2 .tit2 {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/zx-bg2.gif) repeat-x; WIDTH: 245px; COLOR: #333; TEXT-ALIGN: center
}
.dxlist {
	BORDER-RIGHT: #7098b1 1px solid; BORDER-TOP: #7098b1 1px solid; FLOAT: left; BORDER-LEFT: #7098b1 1px solid; WIDTH: 767px; BORDER-BOTTOM: #7098b1 1px solid
}
.biaotou2 {
	BACKGROUND: #7098b1; BORDER-BOTTOM: #7098b1 1px solid; HEIGHT: 32px; color:#fff;
}
.biaotou2 LI {
	FLOAT: left; COLOR: #fff; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.biaotou2 LI.operate {
	WIDTH: 28px
}
.biaoge2 LI.operate {
	WIDTH: 28px
}
.biaotou2 LI.state {
	WIDTH: 40px
}
.biaoge2 LI.state {
	WIDTH: 40px
}
.biaotou2 LI.person {
	WIDTH: 120px
}
.biaoge2 LI.person {
	WIDTH: 120px
}
.biaotou2 LI.content {
	OVERFLOW: hidden; WIDTH: 445px; LINE-HEIGHT: 22px
}
.biaoge2 LI.content {
	OVERFLOW: hidden; WIDTH: 445px; LINE-HEIGHT: 22px
}
.biaotou2 LI.time {
	WIDTH: 130px;
}
.biaoge2 LI.time {
	WIDTH: 130px; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaotou2 LI.welcome {
	WIDTH: 90px
}
.biaoge2 LI.welcome {
	WIDTH: 90px
}
.biaotou2 LI.subject {
	OVERFLOW: hidden; WIDTH: 387px
}
.biaoge2 LI.subject {
	OVERFLOW: hidden; WIDTH: 382px; padding-left:5px;
}
.biaotou2 LI.name {
	WIDTH: 115px
}
.biaoge2 LI.name {
	WIDTH: 115px
}
.biaoge2 {
	CLEAR: both; line-height:30px;
}
.biaoge2 LI {
	FLOAT: left; PADDING-TOP: 8px; HEIGHT: 22px; TEXT-ALIGN: center; line-height:22px;
}
.biaoge2 LI.operate {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge2 LI.state {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge2 LI.person {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge2 LI.content {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge2 LI.subject {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge2 LI.name {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge2 LI.welcome {
	BORDER-RIGHT: #B5D2E4 1px solid; BORDER-BOTTOM: #B5D2E4 1px solid
}
.biaoge2 LI.subject {
	TEXT-ALIGN: left
}
.biaoge2 LI.content {
	TEXT-ALIGN: left
}
.mail1 {
	PADDING-RIGHT: 20px; BACKGROUND: #cfeefe; PADDING-TOP: 8px; BORDER-BOTTOM: #B5D2E4 1px solid; HEIGHT: 20px; TEXT-ALIGN: right
}
.zx3 {
	BACKGROUND: url(../images/zx-bg4.jpg) no-repeat; FLOAT: left; WIDTH: 809px; HEIGHT: 150px
}
.con .fy {
	WIDTH: 770px
}
.zx3 .an1 {
	FLOAT: left
}
.zx3 .an2 {
	FLOAT: left
}
.zx3 .an1 {
	PADDING-LEFT: 20px; WIDTH: 220px; PADDING-TOP: 20px
}
.zx3 .an1 IMG {
	CURSOR: pointer
}
.zx3 .an2 {
	PADDING-LEFT: 145px; WIDTH: 320px; COLOR: #666
}
.zx4 {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 700px
}
.zx4 .sj {
	PADDING-RIGHT: 25px; FONT-WEIGHT: bold; BACKGROUND: url(../images/zx-m2.gif) no-repeat; WIDTH: 112px; COLOR: #fff; PADDING-TOP: 3px; HEIGHT: 27px; TEXT-ALIGN: right
}
.zx4 .ly1 {
	BORDER-RIGHT: #0170A7 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0170A7 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #0170A7 1px solid; WIDTH: 540px; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #0170A7 1px solid; HEIGHT: 200px
}
.zx5 .ly1 {
	BORDER-RIGHT: #0170A7 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0170A7 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #0170A7 1px solid; WIDTH: 540px; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #0170A7 1px solid; HEIGHT: 200px
}
.bd1 {
	BORDER-RIGHT: #0170A7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #0170A7 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #0170A7 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #0170A7 1px solid; HEIGHT: 16px
}
.bd2 {
	BORDER-RIGHT: #0170A7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #0170A7 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #0170A7 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #0170A7 1px solid; HEIGHT: 16px
}
.bd1 {
	WIDTH: 200px
}
.bd2 {
	WIDTH: 100px
}
.bd3 {
	BORDER-RIGHT: #0170A7 1px solid; BORDER-TOP: #0170A7 1px solid; BORDER-LEFT: #0170A7 1px solid; WIDTH: 500px; BORDER-BOTTOM: #0170A7 1px solid; HEIGHT: 120px
}
.bd4 {
	BORDER-RIGHT: #dbddd3 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #dbddd3 1px dotted; PADDING-LEFT: 5px; BACKGROUND: #fdfff2; PADDING-BOTTOM: 10px; BORDER-LEFT: #dbddd3 1px dotted; WIDTH: 300px; PADDING-TOP: 10px; BORDER-BOTTOM: #dbddd3 1px dotted
}
.gr-an {
	PADDING-LEFT: 142px; FLOAT: left; PADDING-TOP: 10px
}
.jf1 {
	BACKGROUND: url(../images/gf-bg1.jpg) no-repeat; FLOAT: left; MARGIN-LEFT: 20px; WIDTH: 700px; LINE-HEIGHT: 25px; PADDING-TOP: 30px; HEIGHT: 185px
}
.jf1 .wellcome {
	TEXT-ALIGN: center
}
.jf1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 40px
}
.jf1 LI {
	PADDING-LEFT: 20px; BACKGROUND: url(../images/zx-icon8.gif) no-repeat 0px 7px; FLOAT: left; WIDTH: 200px
}
.jf-an {
	PADDING-LEFT: 330px; FLOAT: left; PADDING-TOP: 10px
}
.zx5 {
	BORDER-RIGHT: #0170A7 1px solid; BORDER-TOP: #0170A7 1px solid; BACKGROUND: #fff5f6; BORDER-LEFT: #0170A7 1px solid; WIDTH: 767px; BORDER-BOTTOM: #0170A7 1px solid
}
.fb {
	FONT-SIZE: 12px
}
.floatQ {
	Z-INDEX: 9999; LEFT: 0px; POSITION: absolute; TOP: 200px
}
#home {
	FLOAT: left; WIDTH: 840px; PADDING-TOP: 10px
}
#home .left1 {
	FLOAT: left; WIDTH: 620px
}
#home .right1 {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 210px
}
.left1 .nr1 {
	FLOAT: left; WIDTH: 620px; HEIGHT: auto
}
.left1 .nr1 .lgg {
	PADDING-RIGHT: 10px; FLOAT: left; WIDTH: 250px
}
.left1 .nr1 .star {
	FLOAT: left; WIDTH: 360px
}
.redborder1 {
	BORDER-RIGHT: #0170A7 1px solid; BORDER-TOP: #0170A7 1px solid; BORDER-LEFT: #0170A7 1px solid; WIDTH: 358px; BORDER-BOTTOM: #0170A7 1px solid
}
.redborder2 {
	BORDER-RIGHT: #0170A7 1px solid; BORDER-TOP: #0170A7 1px solid; BORDER-LEFT: #0170A7 1px solid; WIDTH: 208px; BORDER-BOTTOM: #0170A7 1px solid; HEIGHT: auto
}
.hometit1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(../images/homebg1.gif) repeat-x; COLOR: #0170A7; PADDING-TOP: 5px; HEIGHT: 25px
}
.hometit2 {
	PADDING-LEFT: 20px; BACKGROUND: url(../images/icon21.gif) no-repeat 5px 5px; MARGIN: 3px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 18px
}
.homebody {
	HEIGHT: 225px
}
.bbsbz {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(../images/xx2.gif) repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 3px; COLOR: #ff3300; PADDING-TOP: 8px; HEIGHT: 18px
}
.homexx {
	BACKGROUND: url(../images/xx2.gif) repeat-x center 50%; HEIGHT: 3px
}
.homegg {
	CLEAR: both; WIDTH: 620px; PADDING-TOP: 10px; HEIGHT: 90px
}
.homepic {
	WIDTH: 110px; LINE-HEIGHT: 25px
}
.homepic IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 100px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 85px
}
A.red_4:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: none
}
A.red_4:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9900; TEXT-DECORATION: none
}
A.red_4:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0170A7; TEXT-DECORATION: none
}
A.orange_2:link {
	FONT-SIZE: 12px; COLOR: #ff9933; TEXT-DECORATION: none
}
A.orange_2:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
A.orange_2:visited {
	FONT-SIZE: 12px; COLOR: #ff9933; TEXT-DECORATION: none
}
A.blue_2:link {
	FONT-SIZE: 12px; COLOR: #3399cc; TEXT-DECORATION: none
}
A.blue_2:hover {
	FONT-SIZE: 12px; COLOR: #3399cc; TEXT-DECORATION: underline
}
A.blue_2:visited {
	FONT-SIZE: 12px; COLOR: #3399cc; TEXT-DECORATION: none
}
.starpic {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 95px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 95px
}
.wz1 {
	LINE-HEIGHT: 22px
}
.wz1 DIV {
	PADDING-BOTTOM: 5px
}
.greyborder1 {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; FLOAT: left; BORDER-LEFT: #ccc 1px solid; WIDTH: 305px; BORDER-BOTTOM: #ccc 1px solid
}
.greyborder2 {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 305px; BORDER-BOTTOM: #ccc 1px solid
}
.liststyle1 {
	FLOAT: left
}
.liststyle2 {
	FLOAT: left
}
.liststyle1 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(../images/dt1.gif) no-repeat 0px 8px; LINE-HEIGHT: 22px
}
.liststyle4 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(../images/dt1.gif) no-repeat 0px 8px; LINE-HEIGHT: 22px
}
.liststyle2 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(../images/dt2.gif) no-repeat 0px 6px; LINE-HEIGHT: 22px
}
.liststyle3 {
	BACKGROUND: url(../images/pm1.gif) no-repeat; MARGIN: 10px 0px 5px 10px
}
.liststyle3 LI {
	PADDING-LEFT: 18px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px
}
.liststyle4 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; PADDING-BOTTOM: 15px; PADDING-TOP: 13px
}
.list01 {
	MARGIN: 0px auto 3px; WIDTH: 205px; TEXT-ALIGN: center
}
.list01 TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 93%; BORDER-RIGHT-WIDTH: 0px
}
.list01 TD {
	FONT-SIZE: 12px; COLOR: #333; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.list01 TD A {
	WIDTH: 74px; COLOR: #333
}
.list01 TD IMG {
	MARGIN-TOP: 2px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 8px; TEXT-ALIGN: left
}
.smilies {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 95px; PADDING-TOP: 0px
}
.smilies LI {
	FLOAT: left
}
.smilies IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 2px 2px 0px; BORDER-RIGHT-WIDTH: 0px
}
#wrap .uMain IMG {
	MAX-WIDTH: 700px; OVERFLOW: hidden
}
#wrap .contener3 .contextc IMG {
	MAX-WIDTH: 550px; OVERFLOW: hidden
}

.help_top {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 980px
}
.help_bg {
	CLEAR: both; BACKGROUND-IMAGE: url(../images/image_05.jpg); MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 980px
}
.help_left {
	BACKGROUND-POSITION: 50% bottom; FLOAT: left; BACKGROUND-IMAGE: url(../images/image_16.jpg); WIDTH: 250px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 9430px
}
.help_right {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 670px; PADDING-TOP: 0px; HEIGHT: 9430px; TEXT-ALIGN: left
}
.help_logo {
	CLEAR: both; MARGIN-BOTTOM: 20px
}
.help_btn_box {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 40px; PADDING-BOTTOM: 20px; WIDTH: 210px; LINE-HEIGHT: 20px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.help_btn_box SPAN {
	PADDING-LEFT: 6px; BACKGROUND-IMAGE: url(../images/image_17.jpg); COLOR: #b51dd8; BACKGROUND-REPEAT: no-repeat
}
.help_btn {
	CLEAR: both; PADDING-LEFT: 30px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../images/image_06.jpg); WIDTH: 220px; PADDING-TOP: 15px; HEIGHT: 17px; TEXT-ALIGN: left
}
.help_select {
	CLEAR: both; PADDING-LEFT: 30px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../images/image_07.jpg); WIDTH: 220px; PADDING-TOP: 15px; HEIGHT: 22px; TEXT-ALIGN: left
}
.help_title14 {
	CLEAR: both; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-TOP: 15px
}
.help_back {
	CLEAR: both; PADDING-RIGHT: 15px; TEXT-ALIGN: right
}
.help_content {
	CLEAR: both; LINE-HEIGHT: 18px; PADDING-TOP: 15px
}
.help_content IMG {
	BORDER-RIGHT: #cccccc 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px dashed; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; BORDER-LEFT: #cccccc 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px dashed}
/* 添加主题贴操作 */
#wrap .action2 LI.u07 {
	BACKGROUND-IMAGE: url(../images/u07.gif);padding-left:16px;
}
#wrap .action2 LI.u08 {
	BACKGROUND-IMAGE:url(../images/u08.gif); padding-left:16px;
}
#bbs_main{width:980px; float:left; margin:10px 0 0 0;}
#bbs_main textarea {font-size:12px;}
#bbs_main input{height:16px;}
.theme_ul{border-top:1px solid #0170A7;border-right:1px solid #0170A7;border-left:1px solid #0170A7;}
.theme_ul li{ line-height:30px; border-bottom:1px solid #0170A7; padding:2px 0 2px 200px;}
.theme_ul02 li{float:left;}
.dxlist_bottom{background-color:#9ecadf; float:left; width:767px; height:40px; text-align:center; line-height:40px;}
.con textarea{font-size:12px; padding:3px}
.part2 .con .submit {margin:0 0 0 150px; height:30px; width:90px;}
.con .an1 {
padding-left:20px;
padding-top:20px;
width:220px;
}
.con .an1, .con .an2 {
float:left;
}
.sj { text-align:right;}
.info3 .con {
	background:#fff none repeat scroll 0;
	border-left:3px solid #b3d3e6;
	border-right:3px solid #b3d3e6;
	padding:20px 0 30px 30px;
	width:494px;
}
.prompt{ width:530px; margin:10px auto 10px auto;}
/* 论坛处菜单 */
.navlink a,.navlink span{display:block;float:left; color:#000; margin:0 1px;}
.heng2{display:block;line-height:20px;height:20px;text-decoration:none;position:relative;overflow:hidden; z-index:9999999999;}
.action2 .heng2 span table li{padding:0}
.heng2:hover{color:#0085c7;overflow:visible;}
.heng2 span{display:block;position:absolute;left:0px;top:18px;width:120px;}
.heng2 span table{display:block;width:300px; border-width:0;}
.heng2 span table td {background:#a7ddff; border:1px solid #B5D2E4; padding:3px;}
.heng2 span table a{width:70px;height:22px;line-height:22px;text-decoration:none;display:block;float:left;}
.heng2 span table a:hover{color:#FFF}
.heng2 span table li{margin:0px;list-style:none; padding:0; width:70px; float:left; display:block;}
.heng2 span table .heng2_li{ width:300px; font-size:13px; display:block; font-weight:100;color:#fff;}
/*收藏下拉菜单*/
.heng1{display:block;line-height:20px;height:20px;width:30px;text-decoration:none;position:relative;overflow:hidden;}
.action2 .heng1 span table li{padding:0}
.heng1:hover{color:#0085c7;overflow:visible;}
.heng1 span{display:block;position:absolute;left:0px;top:18px;width:120px;}
.heng1 span table{display:block;margin:-1px;width:120px; border-width:0;}
.heng1 span table td {background:#62bbe7; border:1px solid #d8edf8;}
.heng1 span table a{width:120px;height:22px;line-height:22px;text-decoration:none;display:block;margin:-1px;}
.heng1 span table a:hover{color:#FFFFFF}
.heng1 span table ul,.heng1 span table li{margin:0px;list-style:none; clear:both; padding:0; width:130px;}
#vote td{border:1px solid #0085c7;}
#vote{border-collapse:collapse;width:758px;}
.liststyle2 ul,.liststyle1 ul{
	width:160px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
	
