/*
  Copyright 2001-2005 www.ntsky.com. All Rights Reserved.
  Qq : 78815 
  Msn :	skyyjl@hotmail.com	
  Email :	yntsky@gmail.com
  Author : ntsky
  Http : www.ntsky.com
*/
.cb { clear:both; }
.cr { clear:right; }
.cl { clear:left; }
.fl{ float: left; }
.fr{ float: left; }
.ftr { float: right; text-align: right; }
.ftl{ float: left; 	text-align: left; }
.frtl { float: right; text-align: left; }
/*
  1、margin&padding
  property:value1 value2; 表示top和bottom的值是value1,right和left的值是value2
  property:value1 value2 value3; 表示top的值是value1，right和left的值是value2，bottom的值是value3
  property:value1 value2 value3 value4; 四个值依次表示top,right,bottom,left

  2、border:width style color;
  3、background:color image repeat attachment position;
 */
div { word-wrap: break-word; }

/* ================================= */
/*                                   */
/*             top menu              */
/*                                   */
/* ================================= */
#wrap {
	background-color: #ffffff;
	border: 1px solid #98aab1;
	min-width: 760px !important;
	height: 100%;
}

/* ================================= */
/*                                   */
/*             top menu              */
/*                                   */
/* ================================= */
#tmenu {
	margin: 16px 2% 0px;
	background-color: #f6f6f6;/*#f6f6f6;#fefafb;*/
	padding: 4px;
	border: 1px solid silver;
	height:20px;
	line-height:150%;
}

/* ================================= */
/*                                   */
/*             header                */
/*                                   */
/* ================================= */
#header {
	margin: 12px 2% 0px;
	padding: 0px;
	/*border-bottom: 1px solid silver;
	height: 70px;
	*/
	height: 50px;
}
#header div#logo {
	margin:0px;
	padding:0px;
	text-align: left;
	float: left;
}
#header div#banner {
	text-align: center;
}

/* ================================= */
/*                                   */
/*               quick               */
/*                                   */
/* ================================= */
#quick {
	margin: 16px 2% 0px;
	background-color: #f9f9f9;
	clear: both;
	border: 1px solid silver;
	height:16px;
	padding:4px;
	line-height: 150%;
}

/* ================================= */
/*                                   */
/*               footer              */
/*                                   */
/* ================================= */
/* body -- footer */
#footer {
	margin:16px 2% 0px;
	border-top: 1px solid silver ;
	clear: both;
}

#copyleft {
	font-size: 80%;
	padding-bottom: 20px;
	padding-top: 10px;
	text-align: center;	
}

/* ================================= */
/*                                   */
/*			 box model	             */
/*                                   */
/* ================================= */
/*     
    ********************************** 
    *             title              *  
    **********************************
    *								 *  
	*			 content			 *
	*								 * 
	**********************************
 */
.box1 {
	margin:16px 2% 0px;
	padding: 0px;
	border: 1px solid silver;
	clear: both;
}
.box1 .title {
	margin:0px;
	background-color: #f8f8f8; /*#f6f6f6*/
	padding: 4px;
	padding-left:6px;
	font-size: 12px;
	font-weight: bold;
	height:16px;
	line-height: 150%;
	color: #004a9c;/*#0060bf;*/
}
.box1 .content{
	margin:0px;
	padding: 0px;
	border-top: 1px solid silver;
	clear: both;
}

/* 
	*								 *
    *  ***********  ***************  *  
	*  *   left  *  *    right    *  *
	*  ***********  ***************  *
	*								 *	
 */
.box2 {
	margin:0px 2% 0px;
	padding: 0px;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	clear: both;
}
.right {
	float: right;
	text-align: left;
}
.left{
	float: left; 
	text-align: left;
}

/* 
    ***********************
    *       other         *
	***********************
	*		  box3        *
	***********************
 */
.box3 {
	margin:0px;
	background-color: #f9f9f9; /*#fefafb;*/
	padding:4px;
	height:20px;
	line-height:150%;
	clear:both;
}
/* ibox -- inputbox it -- inputtitle iv -- inputvalue*/
/* 
    **********************************
	*         *  *****************   *      
	*    it   *  *		iv	     *   *
	*         *  *****************   *
	**********************************
 */
.ibox {
	margin:0px;
	/*border-bottom: 1px solid silver;*/
	height:26px;
	clear:both;
	line-height:150%;
}
.it {
	margin:0px;
	padding:4px 8px;
	float:left;
	width:28%;
	height:18px;
}
.iv {
	margin:0px;
	padding:4px 4px;
	padding-left:8px;
	border-left: 1px solid silver;
	float:left;
	height:18px;
}

/* 
    ***********************
	*        content      *
	***********************
 */
.box4 {
	margin: 16px 2% 0px;
	background-color: #f9f9f9; /*#fefafb;*/
	padding: 4px;
	border: 1px solid silver;
	height: 22px;
	line-height: 150%;
	clear:both;
}

/* 
	**********************************
    *  ***********  ***************  *  
	*  *   ftl   *  *      ftr    *  *
	*  ***********  ***************  *
	**********************************
 */
.box5 {
	margin:16px 2% 0px ;
	background-color: #f8f8f8 ;
	padding: 4px 0px ;
	border: 1px solid silver ;
	height:18px ;
	line-height:150% ;
	clear: both ;
}

/* 
    *********************************
    *********************************
	*  list1  * list2 * list3 * ....*    
	*********************************
	*********************************
 */

.lbox1 {
	 border-top:1px solid silver;
	 clear:both;
	 height:26px;
}

.lrbox {
	float:right;
	width:100%;
	text-align:center;
	height:26px;
	line-height:150%;
	overflow :hidden;
}
.lrbox .d {
	margin:0px;
	padding:4px;
	text-align:center;
	border-left:1px solid silver;
	overflow :hidden;
	height:18px;
	line-height:150%;
	float:left;
}
.llbox {
	margin:0px;
	padding:4px;
	float:left;
	text-align:center;
	border-right:1px solid silver;
	height:18px;
	line-height:150%;
	overflow :hidden;
}

/**  other **/
.dashed{
	margin-top:16px;
	background-color:#f9f9f9;
	padding:0px 10px 10px;
	border:1px dashed #ccc;
	height:100%;
}

/* margin-top quick's height */
.mt{
	 margin-top:8px;
}

.pl{
	padding-left:8px;
}

/*  Fckeditor  */
.Bold {	font-weight: bold; }
.Title { font-weight: bold; font-size: 18px; color: #cc3300; }
.Code {	font-family: Courier, 'Courier New', sans-serif; font-size: 12px; color: #000000; background-color: #fafafa; }	
.quote{ background-color:#ffe; border: 1px solid silver; margin:4px 10px; padding:4px;}	
	