@CHARSET "GBK";
body,td,th,li {
	font-size: 12px;
	color: #333333;
}

body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
form{
 margin:0;
}
.yellow {color: #FFFFCC}
.white {color: #ffffff}
a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #333333;
}
a:active {
	text-decoration: none;
}
